.section-about {
  background-color: $grey-light-1;
  padding: 10rem 0 20rem 0;

  @include respond(phone) {
    padding: 5rem 0 10rem 0;
  }

  @include respond(tab-land) {
    padding: 10rem 0 10rem 0;
    padding-top: 5rem;
  }

  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
    padding-top: 5rem;
  }
}

.section-cta {
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($dark, 0.9),
      rgba($dark, 0.9)
    ),
    url(../img/hero3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 15rem 0;
  // margin-top: 40vh;

  @include respond(phone) {
    padding: 10rem 0;
    h1 {
      font-size: 2rem;
    }
  }

  @include respond(tab-land) {
    padding: 15rem 0;

    h1 {
      font-size: 2rem;
    }
  }

  @include respond(tab-port) {
    padding: 15rem 0;
    h1 {
      font-size: 2rem;
    }
  }
}

.section-movies {
  background-color: $grey-light-1;
  padding: 10rem 0 5rem 0;
  // margin-top: -10vh;
}

.section-schedule {
  background-color: $grey-light-2;
  padding: 5rem;
  .schedule {
    margin-bottom: 1rem;
  }

  table {
    margin-bottom: 44px;
    width: 100%;
  }
  table:last-child {
    margin-bottom: 0;
  }
  th,
  td {
    padding-bottom: 22px;
    vertical-align: top;
    @include respond(tab-port) {
      padding-bottom: 15px;
    }

    @include respond(phone) {
      padding-bottom: 15px;
    }
  }
  th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }
  td {
    width: 40%;
  }
  thead {
    line-height: 44px;
  }
  thead th {
    color: $primary;
    font-size: 24px;
  }
  tbody th {
    color: $dark;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
  }
  tbody td {
    // border-top: 1px solid $dark;
    padding-top: 21px;
  }
  tbody td:first-of-type {
    padding-right: 15px;
  }
  tbody td:last-of-type {
    padding-left: 15px;
  }
  tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  table a {
    color: $grey-dark;
  }
  table h4 {
    margin-bottom: 0;

    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }
  .schedule-offset {
    color: $grey-dark;
  }
}

/* NEWS SECTION */

.news {
  padding: 10rem 0;
  color: $dark;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  @include respond(phone) {
    padding: 5rem 0;
  }

  &-post {
    padding: 0 0.5rem;
    margin-bottom: 3rem;
  }

  &-post &-post-date {
    font-size: 1.4rem;
    // color: #9a9a9a;
    margin-top: 1rem;

    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &-post h3 {
    font-size: 2rem;
    // color: #4a4a4a;
    line-height: 1.4;

    text-transform: uppercase;
    letter-spacing: 0.08rem;

    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &-post &-post-desc {
    font-size: 1.4rem;
    // color: #4a4a4a;
    line-height: 1.6;

    @include respond(tab-port) {
      font-size: 1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }
  &-post &-post-desc a {
    color: $primary;
    text-decoration: underline;
    font-weight: bold;
  }
  &-show-more {
    text-align: center;
  }
}

/* END OF NEWS SECTION */
.bounce {
  animation: bounce 1s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.modal-content iframe {
  margin: 0 auto;
  display: block;
}

// Parallax Effect
.parallax {
  background-attachment: fixed;
  /* Turn off parallax scrolling for tablets and phones */
  @include respond(tab-land) {
    background-attachment: scroll;
  }

  @include respond(tab-port) {
    background-attachment: scroll;
  }
}


.modal-confirm {		
  color: #636363;
  width: 325px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;   
      position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}	
.modal-confirm .icon-box {
  color: #fff;		
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #28b485;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #28b485;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #28b485;
  outline: none;
}