.section-about {
  background-color: $grey-light-1;
  padding: 10rem 0;
  margin-top: -10vh;
}

.section-cta {
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    $primary-light,
    $primary-dark
  );
  padding: 15rem 0;
  margin-top: 40vh;
}

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($grey-dark, 0.8),
    rgba($grey-dark-2, 0.5)
  );
  background-size: cover;
  // margin-top: 5rem;
}

.section-movies {
  background-color: $grey-light-1;
  padding: 10rem 0 5rem 0;
  margin-top: -10vh;
}

.section-book {
  padding: 10rem 0;
  background-color: $grey-light-2;

  form {
    background-image: linear-gradient(
      to right bottom,
      $primary-light,
      $primary-dark
    );
    margin: 0 auto;
    width: 90%;
    padding: 6rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($dark, 0.2);

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
