.section-about {
  background-color: $grey-light-1;
  padding: 10rem 0 20rem 0;
  // margin-top: -10vh;

  @include respond(phone) {
    padding: 5rem 0 10rem 0;
  }

  @include respond(tab-land) {
    padding: 10rem 0 20rem 0;
  }

  @include respond(tab-port) {
    padding: 10rem 0 20rem 0;
  }
}

.section-cta {
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($dark, 0.9),
      rgba($dark, 0.9)
    ),
    url(../img/hero3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 15rem 0;
  // margin-top: 40vh;

  @include respond(phone) {
    padding: 5rem 0;
  }

  @include respond(tab-land) {
    padding: 10rem 0;
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-movies {
  background-color: $grey-light-1;
  padding: 10rem 0 5rem 0;
  // margin-top: -10vh;
}

.section-schedule {
  background-color: $grey-light-2;
  padding: 5rem;
  // margin-top: -10vh;
  .schedule {
    margin-bottom: 1rem;
  }
}

.bounce {
  animation: bounce 1s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.modal-content iframe {
  margin: 0 auto;
  display: block;
}

// Parallax Effect
.parallax {
  background-attachment: fixed;
  /* Turn off parallax scrolling for tablets and phones */
  @include respond(tab-land) {
    background-attachment: scroll;
  }

  @include respond(tab-port) {
    background-attachment: scroll;
  }
}
