.footer {
  background-color: $grey-light-2;
  padding: 5rem 0;
  font-size: 1rem;
  color: $dark;

  @include respond(phone) {
    padding: 2rem 0;

    .container {
      text-align: center;
    }
  }

  @include respond(tab-land) {
    padding: 3rem 0;
  }

  @include respond(tab-port) {
    padding: 2rem 0;
  }

  .links {
    .contact-info,
    a {
      color: $dark;
      &:link,
      &:visited {
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
      }
      &:hover,
      &:active {
        // color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }
}
