.footer {
  background-color: $grey-light-2;
  padding: 5rem 0;
  font-size: 1rem;
  color: $dark;

  @include respond(phone) {
    padding: 2rem 0;

    .container {
      text-align: center;
    }
  }

  @include respond(tab-land) {
    padding: 3rem 0;
  }

  @include respond(tab-port) {
    padding: 2rem 0;
  }

  .links {
    .contact-info,
    a {
      color: $dark;
      &:link,
      &:visited {
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
      }
      &:hover,
      &:active {
        // color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #28b485;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}
