.home {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($dark, 0.8),
      rgba($dark, 0.8)
    ),
    url(../img/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header {
  height: 10vh;

  .bg-green {
    background-color: $primary-dark;
  }
}

.header-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
