.card-hovereffect {
  height: 35rem;
  text-align: center;
  cursor: default;
  background: $primary;
  color: $dark;

  .overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }

  &:hover {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include respond(phone) {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
      -webkit-backface-visibility: hidden;
    }

    @include respond(tab-port) {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
      -webkit-backface-visibility: hidden;
    }
  }

  &:hover .overlay {
    display: block;
  }

  img {
    display: block;
    position: relative;
    max-width: none;
    width: 100%;
    height: 100%;
  }

  &:hover img {
    opacity: 0.1;
    filter: alpha(opacity=10);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  h5 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  &:hover h5:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
