/* Card */
.card {
  position: relative;
  height: 20rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba($dark, 0.15);

  @include respond(phone) {
    height: 20rem;
  }

  @include respond(tab-port) {
    height: 20rem;
  }

  @include respond(tab-land) {
    height: 20rem;
  }

  .img-responsive {
    height: 60%;
  }
}
