body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  color: $grey-dark;
}

.heading-primary {
  color: $white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;

  &-main {
    font-weight: 400;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }

  &-sub {
    font-weight: 400;
    letter-spacing: 7px;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }
}

.cta-heading {
  color: $white;
  backface-visibility: hidden;
  margin-bottom: 60px;

  .heading-main {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1.6s;
    animation-timing-function: ease-in;
  }

  .heading-sub {
    letter-spacing: 7px;
    animation-name: moveInRight;
    animation-duration: 1.6s;
    animation-timing-function: ease-in;
  }
  .heading-mute {
    font-weight: 400;
    letter-spacing: 5px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }
}

.heading-secondary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 20px;
  }

  @include respond(phone) {
    font-size: 20px;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}
