.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 15px !important;
}
.u-margin-bottom-medium {
  margin-bottom: 40px !important;

  @include respond(tab-port) {
    margin-bottom: 30px !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 80px !important;

  @include respond(tab-port) {
    margin-bottom: 50px !important;
  }
}

.u-margin-top-big {
  margin-top: 80px !important;
}
.u-margin-top-huge {
  margin-top: 100px !important;
}
