// COLORS
$primary: #55c57a;
$secondary: #f84e66;
$success: #2bc550;
$info: #495dff;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #000;

$primary-light: #7ed56f;
$primary-dark: #28b485;

$secondary-light: #f84e66;
$secondary-dark: #f84e66;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;

$white: #fff;

// FONT
$default-font-size: 16px;
